launch=gpgsql
gpgsql-dnssec={{ PDNS_gpsql_dnssec }}
gpgsql-host={{ PDNS_gpsql_host }}
gpgsql-dbname={{ PDNS_gpsql_dbname }}
gpgsql-user={{ PDNS_gpsql_user }}
gpgsql-password={{ PDNS_gpsql_password }}
