launch=gpgsql
gpgsql-dnssec={{ PDNS_gpsql-dnssec }}
gpgsql-host={{ PDNS_gpsql-host }}
gpgsql-dbname={{ PDNS_gpsql-dbname }}
gpgsql-user={{ PDNS_gpsql-user }}
gpgsql-password={{ PDNS_gpsql-password }}
