launch=gpgsql
gpgsql-dnssec={{ PDNS_gpgsql-dnssec }}
gpgsql-host={{ PDNS_gpgsql-host }}
gpgsql-dbname={{ PDNS_gpgsql-dbname }}
gpgsql-user={{ PDNS_gpgsql-user }}
gpgsql-password={{ PDNS_gpgsql-password }}
